/* Estilo general del contenedor */
.promo-card {
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  padding: 15px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 180px; /* Altura para móviles */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  margin-bottom: 10px;
}

/* Responsive: pantallas medianas y grandes */
@media (min-width: 768px) {
  .promo-card {
    padding: 20px;
    height: 200px; /* Altura para pantallas más grandes */
  }
}

/* Estilos para el título y descripción */
.promo-title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.promo-description {
  font-size: 0.875rem;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .promo-title {
    font-size: 1.25rem;
  }
  .promo-description {
    font-size: 1rem;
  }
}

/* Efecto hover */
.promo-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

/* Título del PromoCard */
.promo-card h5 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

/* Descripción del PromoCard */
.promo-card p {
  font-size: 1rem;
  text-align: center;
  margin: 0;
}